In [5]:
import pandas

In [6]:
import numpy
import sklearn

In [7]:
import sklearn
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import StandardScaler

In [8]:
#Dataframe Initialization using CSV File
df = pandas.read_csv("/Users/yoojinmoo/Documents/KFA-Chevron-Challenge/Investment_Data_Train.csv")

#Remove Rows with any Empty Cells
# df['TotalNumberofInvestments'].replace('', numpy.nan, inplace=True)
# df.dropna(subset=['TotalNumberofInvestments'], inplace=True)

#Rename Amount to "MMT"
df.rename(columns = {'CO2 Emissions (Mmt)':'MMT'}, inplace = True)
print(df)

      Unnamed: 0    MSN StateCode  Year       Amount  \
0              0  BDFDB        AK  2015       21.000
1              1  BDPRP        AK  2015        4.000
2              2  BFFDB        AK  2015       21.000
3              3  BFPRP        AK  2015        4.000
4              4  CLPRB        AK  2015    17747.000
...          ...    ...       ...   ...          ...
7590        7590  TEPRB        X3  2019  5106671.000
7591        7591  COPRK        X5  2019        5.698
7592        7592  PAPRB        X5  2019    25350.000
7593        7593  PAPRP        X5  2019     4449.000
7594        7594  TEPRB        X5  2019    25350.000

                                  State        MMT  TotalNumberofInvestments  \
0                                Alaska  35.027804                      16.0
1                                Alaska  35.027804                      16.0
2                                Alaska  35.027804                      16.0
3                                Alaska  35.027804                      16.0
4                                Alaska  35.027804                      16.0
...                                 ...        ...                       ...
7590  Federal Offshore - Gulf of Mexico        NaN                       NaN
7591         Federal Offshore - Pacific        NaN                       NaN
7592         Federal Offshore - Pacific        NaN                       NaN
7593         Federal Offshore - Pacific        NaN                       NaN
7594         Federal Offshore - Pacific        NaN                       NaN

      TotalAmountofAssistance
0                   3345612.0
1                   3345612.0
2                   3345612.0
3                   3345612.0
4                   3345612.0
...                       ...
7590                      NaN
7591                      NaN
7592                      NaN
7593                      NaN
7594                      NaN

[7595 rows x 9 columns]

In [9]:
LR_df = df[['StateCode', 'Year', 'TotalAmountofAssistance']].drop_duplicates()
print(LR_df)

#Creating Three Lists of all the States, Variables and Years
unique_states = (df['StateCode'].unique())
unique_variables = (df['MSN'].unique())
unique_years = (df['Year'].unique())

print(unique_states)
print(unique_variables)
print(unique_years)

     StateCode  Year  TotalAmountofAssistance
0           AK  2015                3345612.0
29          AL  2015                1864412.0
58          AR  2015               13453887.0
87          AZ  2015                1724853.0
116         CA  2015               30077512.0
...        ...   ...                      ...
7497        WI  2019                2915140.0
7526        WV  2019                 790383.0
7555        WY  2019                 570570.0
7584        X3  2019                      NaN
7591        X5  2019                      NaN

[270 rows x 3 columns]
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'US' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY' 'X3' 'X5']
['BDFDB' 'BDPRP' 'BFFDB' 'BFPRP' 'CLPRB' 'CLPRK' 'CLPRP' 'COPRK' 'EMFDB'
 'ENPRP' 'GETCB' 'HYTCB' 'NCPRB' 'NGMPB' 'NGMPK' 'NGMPP' 'NUETB' 'PAPRB'
 'PAPRP' 'REPRB' 'SOTCB' 'TEPRB' 'TETCB' 'WDEXB' 'WDPRB' 'WDTCB' 'WSTCB'
 'WWPRB' 'WYTCB']
[2015 2016 2017 2018 2019]

In [10]:
# MSN Values
single_variables = df[['StateCode', 'Year', 'State', "MMT", 'TotalNumberofInvestments', 'TotalAmountofAssistance'
]].drop_duplicates()

multi_variables = df
multi_variables['TotalNumberofInvestments'].replace('', numpy.nan, inplace=True)
multi_variables.dropna(subset=['TotalNumberofInvestments'], inplace=True)

multi_variables = df[[
    'StateCode', 'Year', 'State',
    'MSN', 'Amount'
]].drop_duplicates()

multi_variables = multi_variables.pivot(index=['StateCode', 'Year', 'State'], columns='MSN', values='Amount')

multi_variables

MSN                     BDFDB  BDPRP   BFFDB  BFPRP      CLPRB   CLPRK  \
StateCode Year State
AK        2015 Alaska    21.0    4.0    21.0    4.0    17747.0  15.073
          2016 Alaska    27.0    5.0    27.0    5.0    13942.0  14.957
          2017 Alaska    29.0    5.0    29.0    5.0    14365.0  14.978
          2018 Alaska    15.0    3.0    15.0    3.0    13752.0  15.253
          2019 Alaska     0.0    0.0     0.0    0.0    14867.0  15.252
...                       ...    ...     ...    ...        ...     ...
WY        2015 Wyoming    0.0    0.0  1192.0  209.0  6538240.0  17.399
          2016 Wyoming    0.0    0.0     0.0    0.0  5169939.0  17.394
          2017 Wyoming    0.0    0.0     0.0    0.0  5516757.0  17.433
          2018 Wyoming    0.0    0.0     0.0    0.0  5315953.0  17.476
          2019 Wyoming    0.0    0.0     0.0    0.0  4828513.0  17.437

MSN                        CLPRP  COPRK   EMFDB  ENPRP  ...    REPRB   SOTCB  \
StateCode Year State                                    ...
AK        2015 Alaska     1177.0  5.717     0.0    0.0  ...  23807.0     3.0
          2016 Alaska      932.0  5.722     0.0    0.0  ...  25155.0    14.0
          2017 Alaska      959.0  5.723     0.0    0.0  ...  23620.0    20.0
          2018 Alaska      902.0  5.706     0.0    0.0  ...  24158.0    28.0
          2019 Alaska      975.0  5.698     0.0    0.0  ...  22754.0    40.0
...                          ...    ...     ...    ...  ...      ...     ...
WY        2015 Wyoming  375773.0  5.717  1192.0  209.0  ...  49887.0    27.0
          2016 Wyoming  297218.0  5.722     0.0    0.0  ...  54565.0    33.0
          2017 Wyoming  316454.0  5.723     0.0    0.0  ...  55916.0    45.0
          2018 Wyoming  304188.0  5.706     0.0    0.0  ...  51483.0    67.0
          2019 Wyoming  276912.0  5.698     0.0    0.0  ...  53228.0  1688.0

MSN                         TEPRB     TETCB  WDEXB   WDPRB   WDTCB  WSTCB  \
StateCode Year State
AK        2015 Alaska   1429942.0  614242.0    0.0  6865.0  6865.0  622.0
          2016 Alaska   1435363.0  593662.0    0.0  7636.0  7636.0  412.0
          2017 Alaska   1454196.0  601492.0    0.0  6501.0  6501.0  436.0
          2018 Alaska   1410604.0  604644.0    0.0  6910.0  6910.0  456.0
          2019 Alaska   1370342.0  605689.0    0.0  6418.0  6418.0  386.0
...                           ...       ...    ...     ...     ...    ...
WY        2015 Wyoming  9080777.0  507121.0    0.0  4904.0  4904.0    2.0
          2016 Wyoming  7518440.0  504984.0    0.0  4357.0  4357.0    2.0
          2017 Wyoming  7794586.0  534840.0    0.0  5049.0  5049.0    0.0
          2018 Wyoming  7711992.0  557604.0    0.0  4934.0  4934.0    0.0
          2019 Wyoming  7148285.0  546671.0    0.0  4969.0  4969.0    0.0

MSN                      WWPRB    WYTCB
StateCode Year State
AK        2015 Alaska   7488.0   1488.0
          2016 Alaska   8048.0   1563.0
          2017 Alaska   6937.0   1305.0
          2018 Alaska   7366.0   1411.0
          2019 Alaska   6803.0   1270.0
...                        ...      ...
WY        2015 Wyoming  4905.0  35009.0
          2016 Wyoming  4358.0  40522.0
          2017 Wyoming  5049.0  39806.0
          2018 Wyoming  4934.0  36936.0
          2019 Wyoming  4969.0  37070.0

[250 rows x 29 columns]

In [45]:
# Investment Values
MSN_feature_pivot = multi_variables
tidy_data = MSN_feature_pivot.merge(single_variables, left_on=['StateCode', 'Year'], right_on=['StateCode', 'Year'])
tidy_data_wo_na_response = tidy_data[~tidy_data['TotalAmountofAssistance'].isna()]


tidy_input_data = tidy_data_wo_na_response.drop(columns=['TotalAmountofAssistance', 'State'])
tidy_response_data = tidy_data_wo_na_response[['StateCode', 'Year', 'TotalAmountofAssistance']]


stuff = tidy_data_wo_na_response[['StateCode', 'Year', ]]

tidy_response_data

    StateCode  Year  TotalAmountofAssistance
0          AK  2015                3345612.0
1          AK  2016                2247734.0
2          AK  2017               13509662.0
3          AK  2018               18236626.0
4          AK  2019               13734021.0
..        ...   ...                      ...
245        WY  2015                 249960.0
246        WY  2016                1359346.0
247        WY  2017                 413987.0
248        WY  2018                 573639.0
249        WY  2019                 570570.0

[250 rows x 3 columns]

In [46]:
#Percentage Diff in MSN

difference_table_MSN = multi_variables

for variable in unique_variables:
    difference_table_MSN[variable + "_diff"] = difference_table_MSN[variable].pct_change()
    difference_table_MSN = difference_table_MSN.drop(variable, axis=1)

difference_table_MSN.head()

#Percentrage Diff in Investment Sum

# difference_table_VAL = tidy_response_data

# difference_table_VAL["TotalAmountofAssistance_diff"] = difference_table_VAL["TotalAmountofAssistance"].pct_change()
# difference_table_VAL = difference_table_VAL.drop("TotalAmountofAssistance", axis=1)

# difference_table_VAL

/var/folders/n2/897z_jtd6nndj5cgz5416hf80000gn/T/ipykernel_46672/1283394976.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  difference_table_VAL["TotalAmountofAssistance_diff"] = difference_table_VAL["TotalAmountofAssistance"].pct_change()

    StateCode  Year  TotalAmountofAssistance_diff
0          AK  2015                           NaN
1          AK  2016                     -0.328155
2          AK  2017                      5.010347
3          AK  2018                      0.349895
4          AK  2019                     -0.246899
..        ...   ...                           ...
245        WY  2015                     -0.683748
246        WY  2016                      4.438254
247        WY  2017                     -0.695451
248        WY  2018                      0.385645
249        WY  2019                     -0.005350

[250 rows x 3 columns]

In [47]:
print(unique_variables)

abc = difference_table_VAL[['TotalAmountofAssistance_diff']]

one = difference_table_MSN[['BDFDB_diff']]
two = difference_table_MSN[['BDPRP_diff']]
three = difference_table_MSN[['BFFDB_diff']]
four = difference_table_MSN[['BFPRP_diff']]
five = difference_table_MSN[['CLPRB_diff']]
six = difference_table_MSN[['CLPRK_diff']]
seven = difference_table_MSN[['CLPRP_diff']]
eight = difference_table_MSN[['COPRK_diff']]
nine = difference_table_MSN[['EMFDB_diff']]
ten = difference_table_MSN[['ENPRP_diff']]
eleven = difference_table_MSN[['GETCB_diff']]
twelve = difference_table_MSN[['HYTCB_diff']]
thirteen = difference_table_MSN[['NCPRB_diff']]
fourteen = difference_table_MSN[['NGMPB_diff']]
fifteen = difference_table_MSN[['NGMPK_diff']]
sixteen = difference_table_MSN[['NGMPP_diff']]
seventeen = difference_table_MSN[['NUETB_diff']]
eighteen = difference_table_MSN[['PAPRB_diff']]
nineteen = difference_table_MSN[['PAPRP_diff']]
twenty = difference_table_MSN[['REPRB_diff']]
twenty1 = difference_table_MSN[['SOTCB_diff']]
twenty2 = difference_table_MSN[['TEPRB_diff']]
twenty3 = difference_table_MSN[['TETCB_diff']]
twenty4 = difference_table_MSN[['WDEXB_diff']]
twenty5 = difference_table_MSN[['WDPRB_diff']]
twenty6 = difference_table_MSN[['WDTCB_diff']]
twenty7 = difference_table_MSN[['WSTCB_diff']]
twenty8 = difference_table_MSN[['WWPRB_diff']]
twenty9 = difference_table_MSN[['WYTCB_diff']]


merged = pandas.concat([one.reset_index(), abc], axis=1)


# X_variables = merged[['StateCode', 'Year', 'BDFDB_diff']]
# y_variables = merged[['StateCode', 'Year', 'TotalAmountofAssistance_diff']]

# X_variables.dropna(subset=['BDFDB_diff'], inplace=True)
# y_variables.dropna(subset=['TotalAmountofAssistance_diff'], inplace=True)

# train_X = X_variables[X_variables.Year < 2019].drop(columns=['StateCode', 'Year'])
# train_y = y_variables[y_variables.Year < 2019].drop(columns=['StateCode', 'Year'])
# test_X = X_variables[X_variables.Year == 2019].drop(columns=['StateCode', 'Year'])
# compare_results = y_variables[y_variables.Year == 2019]

# scaler = StandardScaler()
# scaler.fit(train_X)
# train_X = scaler.transform(train_X)

# regr = ElasticNet(random_state=0, l1_ratio=0.5, alpha = 1)
# regr.fit(train_X, train_y)
# predictions = regr.predict(test_X)

# compare_results['predict'] = predictions.tolist()
# compare_results['ans_div_predict'] = compare_results['TotalAmountofAssistance_diff'] / compare_results['predict']

# print('RSME: ', ((compare_results.predict - compare_results.TotalAmountofAssistance_diff) ** 2).mean() ** .5)
# compare_results

['BDFDB' 'BDPRP' 'BFFDB' 'BFPRP' 'CLPRB' 'CLPRK' 'CLPRP' 'COPRK' 'EMFDB'
 'ENPRP' 'GETCB' 'HYTCB' 'NCPRB' 'NGMPB' 'NGMPK' 'NGMPP' 'NUETB' 'PAPRB'
 'PAPRP' 'REPRB' 'SOTCB' 'TEPRB' 'TETCB' 'WDEXB' 'WDPRB' 'WDTCB' 'WSTCB'
 'WWPRB' 'WYTCB']

In [74]:
lol = tidy_response_data.drop(columns=['TotalAmountofAssistance_diff'])
lol = lol.drop(columns=['StateCode', 'Year'])


aone = multi_variables[['BDFDB']]
atwo = multi_variables[['BDPRP']]
athree = multi_variables[['BFFDB']]
afour = multi_variables[['BFPRP']]
afive = multi_variables[['CLPRB']]
asix = multi_variables[['CLPRK']]
aseven = multi_variables[['CLPRP']]
aeight = multi_variables[['COPRK']]
anine = multi_variables[['EMFDB']]
aten = multi_variables[['ENPRP']]
aeleven = multi_variables[['GETCB']]
atwelve = multi_variables[['HYTCB']]
athirteen = multi_variables[['NCPRB']]
afourteen = multi_variables[['NGMPB']]
afifteen = multi_variables[['NGMPK']]
asixteen = multi_variables[['NGMPP']]
aseventeen = multi_variables[['NUETB']]
aeighteen = multi_variables[['PAPRB']]
anineteen = multi_variables[['PAPRP']]
atwenty = multi_variables[['REPRB']]
atwenty1 = multi_variables[['SOTCB']]
atwenty2 = multi_variables[['TEPRB']]
atwenty3 = multi_variables[['TETCB']]
atwenty4 = multi_variables[['WDEXB']]
atwenty5 = multi_variables[['WDPRB']]
atwenty6 = multi_variables[['WDTCB']]
atwenty7 = multi_variables[['WSTCB']]
atwenty8 = multi_variables[['WWPRB']]
atwenty9 = multi_variables[['WYTCB']]

tickers = [aone, atwo, athree, afour, afive, asix, aseven, aeight, anine, aten, aeleven, atwelve, athirteen, afourteen, afifteen, asixteen, aseventeen, aeighteen, anineteen, atwenty, atwenty1, atwenty2, atwenty3, atwenty4, atwenty5, atwenty6, atwenty7, atwenty8, atwenty9]

In [104]:
#VARIABLE 1

merged = pandas.concat([aone.reset_index(), lol], axis=1)


merged = merged.loc[merged['StateCode'] == "ND"]


X_variables = merged[['StateCode', 'Year', 'BDFDB']]
y_variables = merged[['StateCode', 'Year', 'TotalAmountofAssistance']]

train_X = X_variables[X_variables.Year < 2019].drop(columns=['StateCode', 'Year'])
train_y = y_variables[y_variables.Year < 2019].drop(columns=['StateCode', 'Year'])
test_X = X_variables[X_variables.Year == 2019].drop(columns=['StateCode', 'Year'])
compare_results = y_variables[y_variables.Year == 2019]

scaler = StandardScaler()
scaler.fit(train_X)
train_X = scaler.transform(train_X)
test_X = scaler.transform(test_X)

regr = ElasticNet(random_state=0, l1_ratio=0.5, alpha = 1)
regr.fit(train_X, train_y)
predictions = regr.predict(test_X)

compare_results['predict'] = predictions.tolist()
compare_results['ans_div_predict'] = compare_results['TotalAmountofAssistance'] / compare_results['predict']

print('RSME: ', ((compare_results.predict - compare_results.TotalAmountofAssistance) ** 2).mean() ** .5)
compare_results

RSME:  273807.0088624175

/var/folders/n2/897z_jtd6nndj5cgz5416hf80000gn/T/ipykernel_46672/144421097.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compare_results['predict'] = predictions.tolist()
/var/folders/n2/897z_jtd6nndj5cgz5416hf80000gn/T/ipykernel_46672/144421097.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compare_results['ans_div_predict'] = compare_results['TotalAmountofAssistance'] / compare_results['predict']

    StateCode  Year  TotalAmountofAssistance        predict  ans_div_predict
139        ND  2019                 759349.0  485541.991138          1.56392

In [105]:
tickers = [aone, atwo, athree, afour, afive, asix, aseven, aeight, anine, aten, aeleven, atwelve, athirteen, afourteen, afifteen, asixteen, aseventeen, aeighteen, anineteen, atwenty, atwenty1, atwenty2, atwenty3, atwenty4, atwenty5, atwenty6, atwenty7, atwenty8, atwenty9]
unique_variables = (df['MSN'].unique())

for i, j in tickers, unique_variables:
    merged = pandas.concat([i.reset_index(), lol], axis=1)

    X_variables = merged[['StateCode', 'Year', j]]
    y_variables = merged[['StateCode', 'Year', 'TotalAmountofAssistance']]

    train_X = X_variables[X_variables.Year < 2019].drop(columns=['StateCode', 'Year'])
    train_y = y_variables[y_variables.Year < 2019].drop(columns=['StateCode', 'Year'])
    test_X = X_variables[X_variables.Year == 2019].drop(columns=['StateCode', 'Year'])
    compare_results = y_variables[y_variables.Year == 2019]

    scaler = StandardScaler()
    scaler.fit(train_X)
    train_X = scaler.transform(train_X)

    regr = ElasticNet(random_state=0, l1_ratio=0.5, alpha = 1)
    regr.fit(train_X, train_y)
    predictions = regr.predict(test_X)

    compare_results['predict'] = predictions.tolist()
    compare_results['ans_div_predict'] = compare_results['TotalAmountofAssistance'] / compare_results['predict']

    print('RSME: ', ((compare_results.predict - compare_results.TotalAmountofAssistance) ** 2).mean() ** .5)
    compare_results

ValueError: too many values to unpack (expected 2)