In [2]:
import pandas

In [3]:
import numpy
import sklearn

In [4]:
import sklearn

In [7]:
df = pandas.read_csv("/Users/yoojinmoo/Documents/KFA-Chevron-Challenge/Investment_Data_Train.csv")

df['TotalNumberofInvestments'].replace('', numpy.nan, inplace=True)
df.dropna(subset=['TotalNumberofInvestments'], inplace=True)

df.rename(columns = {'CO2 Emissions (Mmt)':'MMT'}, inplace = True)

print(df)

      Unnamed: 0    MSN StateCode  Year   Amount    State        MMT  \
0              0  BDFDB        AK  2015     21.0   Alaska  35.027804
1              1  BDPRP        AK  2015      4.0   Alaska  35.027804
2              2  BFFDB        AK  2015     21.0   Alaska  35.027804
3              3  BFPRP        AK  2015      4.0   Alaska  35.027804
4              4  CLPRB        AK  2015  17747.0   Alaska  35.027804
...          ...    ...       ...   ...      ...      ...        ...
7579        7579  WDPRB        WY  2019   4969.0  Wyoming  59.096649
7580        7580  WDTCB        WY  2019   4969.0  Wyoming  59.096649
7581        7581  WSTCB        WY  2019      0.0  Wyoming  59.096649
7582        7582  WWPRB        WY  2019   4969.0  Wyoming  59.096649
7583        7583  WYTCB        WY  2019  37070.0  Wyoming  59.096649

      TotalNumberofInvestments  TotalAmountofAssistance
0                         16.0                3345612.0
1                         16.0                3345612.0
2                         16.0                3345612.0
3                         16.0                3345612.0
4                         16.0                3345612.0
...                        ...                      ...
7579                      32.0                 570570.0
7580                      32.0                 570570.0
7581                      32.0                 570570.0
7582                      32.0                 570570.0
7583                      32.0                 570570.0

[7250 rows x 9 columns]

In [19]:
#Filter by States

import statsmodels.api as sm
import statsmodels.formula.api as smf

df_AK = df[df.StateCode=='AK']

ydata = df["TotalAmountofAssistance"]
xdata = df["Year"]

mod = sm.OLS(endog=ydata, exog=xdata)
results = mod.fit()

print(results.summary())

                                   OLS Regression Results
============================================================================================
Dep. Variable:     TotalAmountofAssistance   R-squared (uncentered):                   0.120
Model:                                 OLS   Adj. R-squared (uncentered):              0.120
Method:                      Least Squares   F-statistic:                              992.7
Date:                     Sat, 28 Jan 2023   Prob (F-statistic):                   2.51e-204
Time:                             13:08:02   Log-Likelihood:                     -1.3803e+05
No. Observations:                     7250   AIC:                                  2.761e+05
Df Residuals:                         7249   BIC:                                  2.761e+05
Df Model:                                1
Covariance Type:                 nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Year        8233.4200    261.315     31.508      0.000    7721.167    8745.673
==============================================================================
Omnibus:                     6363.490   Durbin-Watson:                   0.073
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           154204.956
Skew:                           4.345   Prob(JB):                         0.00
Kurtosis:                      23.856   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [20]:
LR_df = df[['StateCode', 'Year', 'TotalAmountofAssistance']].drop_duplicates()
LR_df

     StateCode  Year  TotalAmountofAssistance
0           AK  2015                3345612.0
29          AL  2015                1864412.0
58          AR  2015               13453887.0
87          AZ  2015                1724853.0
116         CA  2015               30077512.0
...        ...   ...                      ...
7439        VT  2019                1121855.0
7468        WA  2019               18389113.0
7497        WI  2019                2915140.0
7526        WV  2019                 790383.0
7555        WY  2019                 570570.0

[250 rows x 3 columns]