In [3]:
import pandas as pd

In [51]:
read_file = pd.read_excel ("MSN Codes.xlsx")
read_file.to_csv ("MSN Codes.csv", index = None, header=True)
read_file = pd.read_excel ("Investment_Data_Train.xlsx")
read_file.to_csv ("Investment_Data_Train.csv", index = None, header=True)
# read_file = pd.read_excel ("Investment_Data_2020.xlsx")
# read_file.to_csv ("Investment_Data_2020.csv", index = None, header=True)

In [20]:
msn_code = pd.read_csv('MSN Codes.csv')

investment_data = pd.read_csv("Investment_Data_Train.csv")

In [52]:
msn_code.head()

     MSN                                        Description              Unit
0  BDFDB  Biomass inputs (feedstock) to the production o...       Billion Btu
1  BDPRP                               Biodiesel production  Thousand barrels
2  BFFDB  Biomass inputs (feedstock) to the production o...       Billion Btu
3  BFPRP                                Biofuels production  Thousand barrels
4  CLPRB                                    Coal production       Billion Btu

In [53]:
investment_data.head()

,Unnamed: 0,MSN,StateCode,Year,Amount,State,CO2 Emissions (Mmt),TotalNumberofInvestments,TotalAmountofAssistance
0,0,BDFDB,AK,2015,21.0,Alaska,35.027804,16.0,3345612.0
1,1,BDPRP,AK,2015,4.0,Alaska,35.027804,16.0,3345612.0
2,2,BFFDB,AK,2015,21.0,Alaska,35.027804,16.0,3345612.0
3,3,BFPRP,AK,2015,4.0,Alaska,35.027804,16.0,3345612.0
4,4,CLPRB,AK,2015,17747.0,Alaska,35.027804,16.0,3345612.0

In [25]:
investment_data.columns

Index(['Unnamed: 0', 'MSN', 'StateCode', 'Year', 'Amount', 'State',
       'CO2 Emissions (Mmt)', 'TotalNumberofInvestments',
       'TotalAmountofAssistance'],
      dtype='object')

In [54]:
single_variables = investment_data[[
    'StateCode', 'Year', 'State',
    'CO2 Emissions (Mmt)', 'TotalNumberofInvestments', 'TotalAmountofAssistance'
]].drop_duplicates()
single_variables

,StateCode,Year,State,CO2 Emissions (Mmt),TotalNumberofInvestments,TotalAmountofAssistance
0,AK,2015,Alaska,35.027804,16.0,3345612.0
29,AL,2015,Alabama,119.200889,164.0,1864412.0
58,AR,2015,Arkansas,59.053365,477.0,13453887.0
87,AZ,2015,Arizona,94.978784,65.0,1724853.0
116,CA,2015,California,351.408516,1023.0,30077512.0
...,...,...,...,...,...,...
7497,WI,2019,Wisconsin,94.822424,103.0,2915140.0
7526,WV,2019,West Virginia,85.445996,44.0,790383.0
7555,WY,2019,Wyoming,59.096649,32.0,570570.0
7584,X3,2019,Federal Offshore - Gulf of Mexico,NaN,NaN,NaN
7591,X5,2019,Federal Offshore - Pacific,NaN,NaN,NaN

In [56]:
multi_variables = investment_data[[
    'StateCode', 'Year', 'State',
    'MSN', 'Amount'
]].drop_duplicates()

multi_variables

     StateCode  Year                              State    MSN       Amount
0           AK  2015                             Alaska  BDFDB       21.000
1           AK  2015                             Alaska  BDPRP        4.000
2           AK  2015                             Alaska  BFFDB       21.000
3           AK  2015                             Alaska  BFPRP        4.000
4           AK  2015                             Alaska  CLPRB    17747.000
...        ...   ...                                ...    ...          ...
7590        X3  2019  Federal Offshore - Gulf of Mexico  TEPRB  5106671.000
7591        X5  2019         Federal Offshore - Pacific  COPRK        5.698
7592        X5  2019         Federal Offshore - Pacific  PAPRB    25350.000
7593        X5  2019         Federal Offshore - Pacific  PAPRP     4449.000
7594        X5  2019         Federal Offshore - Pacific  TEPRB    25350.000

[7595 rows x 5 columns]

In [67]:
MSN_feature_pivot = multi_variables.pivot(index=['StateCode', 'Year', 'State'], columns='MSN', values='Amount')
# MSN_feature_pivot[MSN_feature_pivot.isna().any(axis=1)]
MSN_feature_pivot

MSN                                        BDFDB  BDPRP  BFFDB  BFPRP  \
StateCode Year State
AK        2015 Alaska                       21.0    4.0   21.0    4.0
          2016 Alaska                       27.0    5.0   27.0    5.0
          2017 Alaska                       29.0    5.0   29.0    5.0
          2018 Alaska                       15.0    3.0   15.0    3.0
          2019 Alaska                        0.0    0.0    0.0    0.0
...                                          ...    ...    ...    ...
X5        2015 Federal Offshore - Pacific    NaN    NaN    NaN    NaN
          2016 Federal Offshore - Pacific    NaN    NaN    NaN    NaN
          2017 Federal Offshore - Pacific    NaN    NaN    NaN    NaN
          2018 Federal Offshore - Pacific    NaN    NaN    NaN    NaN
          2019 Federal Offshore - Pacific    NaN    NaN    NaN    NaN

MSN                                          CLPRB   CLPRK   CLPRP  COPRK  \
StateCode Year State
AK        2015 Alaska                      17747.0  15.073  1177.0  5.717
          2016 Alaska                      13942.0  14.957   932.0  5.722
          2017 Alaska                      14365.0  14.978   959.0  5.723
          2018 Alaska                      13752.0  15.253   902.0  5.706
          2019 Alaska                      14867.0  15.252   975.0  5.698
...                                            ...     ...     ...    ...
X5        2015 Federal Offshore - Pacific      NaN     NaN     NaN  5.717
          2016 Federal Offshore - Pacific      NaN     NaN     NaN  5.722
          2017 Federal Offshore - Pacific      NaN     NaN     NaN  5.723
          2018 Federal Offshore - Pacific      NaN     NaN     NaN  5.706
          2019 Federal Offshore - Pacific      NaN     NaN     NaN  5.698

MSN                                        EMFDB  ENPRP  ...    REPRB  SOTCB  \
StateCode Year State                                     ...
AK        2015 Alaska                        0.0    0.0  ...  23807.0    3.0
          2016 Alaska                        0.0    0.0  ...  25155.0   14.0
          2017 Alaska                        0.0    0.0  ...  23620.0   20.0
          2018 Alaska                        0.0    0.0  ...  24158.0   28.0
          2019 Alaska                        0.0    0.0  ...  22754.0   40.0
...                                          ...    ...  ...      ...    ...
X5        2015 Federal Offshore - Pacific    NaN    NaN  ...      NaN    NaN
          2016 Federal Offshore - Pacific    NaN    NaN  ...      NaN    NaN
          2017 Federal Offshore - Pacific    NaN    NaN  ...      NaN    NaN
          2018 Federal Offshore - Pacific    NaN    NaN  ...      NaN    NaN
          2019 Federal Offshore - Pacific    NaN    NaN  ...      NaN    NaN

MSN                                            TEPRB     TETCB  WDEXB   WDPRB  \
StateCode Year State
AK        2015 Alaska                      1429942.0  614242.0    0.0  6865.0
          2016 Alaska                      1435363.0  593662.0    0.0  7636.0
          2017 Alaska                      1454196.0  601492.0    0.0  6501.0
          2018 Alaska                      1410604.0  604644.0    0.0  6910.0
          2019 Alaska                      1370342.0  605689.0    0.0  6418.0
...                                              ...       ...    ...     ...
X5        2015 Federal Offshore - Pacific    65465.0       NaN    NaN     NaN
          2016 Federal Offshore - Pacific    35156.0       NaN    NaN     NaN
          2017 Federal Offshore - Pacific    32701.0       NaN    NaN     NaN
          2018 Federal Offshore - Pacific    27811.0       NaN    NaN     NaN
          2019 Federal Offshore - Pacific    25350.0       NaN    NaN     NaN

MSN                                         WDTCB  WSTCB   WWPRB   WYTCB
StateCode Year State
AK        2015 Alaska                      6865.0  622.0  7488.0  1488.0
          2016 Alaska                      7636.0  412.0  8048.0  1563.0
          2017 Alaska                      6501.0  436.0  6937.0  1305.0
          2018 Alaska                      6910.0  456.0  7366.0  1411.0
          2019 Alaska                      6418.0  386.0  6803.0  1270.0
...                                           ...    ...     ...     ...
X5        2015 Federal Offshore - Pacific     NaN    NaN     NaN     NaN
          2016 Federal Offshore - Pacific     NaN    NaN     NaN     NaN
          2017 Federal Offshore - Pacific     NaN    NaN     NaN     NaN
          2018 Federal Offshore - Pacific     NaN    NaN     NaN     NaN
          2019 Federal Offshore - Pacific     NaN    NaN     NaN     NaN

[270 rows x 29 columns]

In [76]:
tidy_data = MSN_feature_pivot.merge(single_variables, left_on=['StateCode', 'Year'], right_on=['StateCode', 'Year'])
tidy_data_wo_na_response = tidy_data[~tidy_data['TotalAmountofAssistance'].isna()]
tidy_data_wo_na_response

,StateCode,Year,BDFDB,BDPRP,BFFDB,BFPRP,CLPRB,CLPRK,CLPRP,COPRK,...,WDEXB,WDPRB,WDTCB,WSTCB,WWPRB,WYTCB,State,CO2 Emissions (Mmt),TotalNumberofInvestments,TotalAmountofAssistance
0,AK,2015,21.0,4.0,21.0,4.0,17747.0,15.073,1177.0,5.717,...,0.0,6865.0,6865.0,622.0,7488.0,1488.0,Alaska,35.027804,16.0,3345612.0
1,AK,2016,27.0,5.0,27.0,5.0,13942.0,14.957,932.0,5.722,...,0.0,7636.0,7636.0,412.0,8048.0,1563.0,Alaska,33.405611,14.0,2247734.0
2,AK,2017,29.0,5.0,29.0,5.0,14365.0,14.978,959.0,5.723,...,0.0,6501.0,6501.0,436.0,6937.0,1305.0,Alaska,33.729130,18.0,13509662.0
3,AK,2018,15.0,3.0,15.0,3.0,13752.0,15.253,902.0,5.706,...,0.0,6910.0,6910.0,456.0,7366.0,1411.0,Alaska,34.514589,44.0,18236626.0
4,AK,2019,0.0,0.0,0.0,0.0,14867.0,15.252,975.0,5.698,...,0.0,6418.0,6418.0,386.0,6803.0,1270.0,Alaska,34.259440,32.0,13734021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,WY,2015,0.0,0.0,1192.0,209.0,6538240.0,17.399,375773.0,5.717,...,0.0,4904.0,4904.0,2.0,4905.0,35009.0,Wyoming,64.092863,18.0,249960.0
256,WY,2016,0.0,0.0,0.0,0.0,5169939.0,17.394,297218.0,5.722,...,0.0,4357.0,4357.0,2.0,4358.0,40522.0,Wyoming,61.259993,23.0,1359346.0
257,WY,2017,0.0,0.0,0.0,0.0,5516757.0,17.433,316454.0,5.723,...,0.0,5049.0,5049.0,0.0,5049.0,39806.0,Wyoming,62.796487,47.0,413987.0
258,WY,2018,0.0,0.0,0.0,0.0,5315953.0,17.476,304188.0,5.706,...,0.0,4934.0,4934.0,0.0,4934.0,36936.0,Wyoming,63.846081,53.0,573639.0
259,WY,2019,0.0,0.0,0.0,0.0,4828513.0,17.437,276912.0,5.698,...,0.0,4969.0,4969.0,0.0,4969.0,37070.0,Wyoming,59.096649,32.0,570570.0

In [80]:
tidy_input_data = tidy_data_wo_na_response.drop(columns=['TotalAmountofAssistance'])
tidy_input_data

,StateCode,Year,BDFDB,BDPRP,BFFDB,BFPRP,CLPRB,CLPRK,CLPRP,COPRK,...,TETCB,WDEXB,WDPRB,WDTCB,WSTCB,WWPRB,WYTCB,State,CO2 Emissions (Mmt),TotalNumberofInvestments
0,AK,2015,21.0,4.0,21.0,4.0,17747.0,15.073,1177.0,5.717,...,614242.0,0.0,6865.0,6865.0,622.0,7488.0,1488.0,Alaska,35.027804,16.0
1,AK,2016,27.0,5.0,27.0,5.0,13942.0,14.957,932.0,5.722,...,593662.0,0.0,7636.0,7636.0,412.0,8048.0,1563.0,Alaska,33.405611,14.0
2,AK,2017,29.0,5.0,29.0,5.0,14365.0,14.978,959.0,5.723,...,601492.0,0.0,6501.0,6501.0,436.0,6937.0,1305.0,Alaska,33.729130,18.0
3,AK,2018,15.0,3.0,15.0,3.0,13752.0,15.253,902.0,5.706,...,604644.0,0.0,6910.0,6910.0,456.0,7366.0,1411.0,Alaska,34.514589,44.0
4,AK,2019,0.0,0.0,0.0,0.0,14867.0,15.252,975.0,5.698,...,605689.0,0.0,6418.0,6418.0,386.0,6803.0,1270.0,Alaska,34.259440,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,WY,2015,0.0,0.0,1192.0,209.0,6538240.0,17.399,375773.0,5.717,...,507121.0,0.0,4904.0,4904.0,2.0,4905.0,35009.0,Wyoming,64.092863,18.0
256,WY,2016,0.0,0.0,0.0,0.0,5169939.0,17.394,297218.0,5.722,...,504984.0,0.0,4357.0,4357.0,2.0,4358.0,40522.0,Wyoming,61.259993,23.0
257,WY,2017,0.0,0.0,0.0,0.0,5516757.0,17.433,316454.0,5.723,...,534840.0,0.0,5049.0,5049.0,0.0,5049.0,39806.0,Wyoming,62.796487,47.0
258,WY,2018,0.0,0.0,0.0,0.0,5315953.0,17.476,304188.0,5.706,...,557604.0,0.0,4934.0,4934.0,0.0,4934.0,36936.0,Wyoming,63.846081,53.0
259,WY,2019,0.0,0.0,0.0,0.0,4828513.0,17.437,276912.0,5.698,...,546671.0,0.0,4969.0,4969.0,0.0,4969.0,37070.0,Wyoming,59.096649,32.0

In [85]:
tidy_response_data = tidy_data_wo_na_response[['StateCode', 'Year', 'TotalAmountofAssistance']]
tidy_response_data

    StateCode  Year  TotalAmountofAssistance
0          AK  2015                3345612.0
1          AK  2016                2247734.0
2          AK  2017               13509662.0
3          AK  2018               18236626.0
4          AK  2019               13734021.0
..        ...   ...                      ...
255        WY  2015                 249960.0
256        WY  2016                1359346.0
257        WY  2017                 413987.0
258        WY  2018                 573639.0
259        WY  2019                 570570.0

[250 rows x 3 columns]